.action-login,
.action-login:link,
.action-login:visited {
  /* font-size: 1.6rem; */
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border: none;
}

.login-icon {
}

.action-login span {
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.1rem;
}

/*? QUERIES  */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

/**************************/
/* BELOW 1232px (landscape tablets) */
/**************************/

@media (max-width: 77em) {
  .action-login,
  .action-login:link,
  .action-login:visited {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    align-items: center;
    gap: 0.8rem;
  }

  .action-login span {
    font-size: 1.6rem;
  }
}

@media (max-width: 34em) {
  .login-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .action-login,
  .action-login:link,
  .action-login:visited {
    font-size: 2rem;
  }
  .action-login span {
    font-size: 2.4rem;
  }
}
/*
--- 01 TYPOGRAPHY SYSTEM

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    118 / 142 / 170 / 204 / 245

--- 07 WHITESPACE
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

    160 / 192 / 224 / 256 / 320 / 384 
448 512
*/
