/*
--- 01 TYPOGRAPHY SYSTEM

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    160 / 192 / 224 / 256 / 320 / 384 
448 512
*/

.cta-desafios {
  padding: 9.6rem 0 0;
  background-color: #feefcd;
}

.challenges-container {
  padding: 3.2rem;
  grid-template-columns: 4fr 3fr;
  background-image: linear-gradient(
      to right,
      transparent 40%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('/cta/centro-de-conferencias.JPG');
  width: 100%;
  /* height: 30vh; */
  background-size: cover;
  border-radius: 1rem;
}
.challenges-box {
  grid-column: 2;
}
.challenges-title {
  font-size: 3.6rem;
  color: #fdd882;
  margin-bottom: 3.2rem;
}
.challenges-steps {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}
.challenges-step {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.step-number {
  color: #cebbbb;
  font-size: 3rem;
}
.step-info {
  font-size: 1.8rem;
  color: #ded2d1;
}
.challenges-btn,
.challenges-btn:link,
.challenges-btn:visited {
  background-color: #fab005;
  color: #5b1c1b;
  font-weight: 600;
  display: inline-block;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}
.challenges-btn:hover,
.challenges-btn:active {
  background-color: #e19e05;
}
.box-actions-info {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.participants {
  color: #fee7b4;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.participants-icon {
  width: 3rem;
  height: 3rem;
}
.participants-text {
  font-size: 2.2rem;
}

/*
--- 01 TYPOGRAPHY SYSTEM

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    160 / 192 / 224 / 256 / 320 / 384 
448 512
*/

/*? QUERIES  */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

/**************************/
/* BELOW 1232px (landscape tablets) */
/**************************/

@media (max-width: 77em) {
  .step-info {
    font-size: 1.6rem;
  }

  .challenges-btn,
  .challenges-btn:link,
  .challenges-btn:visited {
    font-size: 2rem;
  }
  .participants-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .participants-text {
    font-size: 1.8rem;
  }
}

/**************************/
/* BELOW 944px tablets) */
/**************************/

@media (max-width: 59em) {
  .challenges-title {
    font-size: 3rem;
    margin-bottom: 2.4rem;
  }
  .step-info {
    /* font-size: 1.6rem; */
  }
  .box-actions-info {
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
  }
  .participants-text {
    font-size: 1.8rem;
  }
}

/**************************/
/* BELOW 704px smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .challenges-container {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 1fr;
    padding: 4.8rem;
    background-image: linear-gradient(
        to bottom,
        transparent 40%,
        rgba(0, 0, 0, 0.6) 50%
      ),
      url('/cta/centro-de-conferencias-2.jpg');
  }
  .challenges-box {
    grid-column: 1;
    grid-row: -2;
  }
  .challenges-title {
    font-size: 3.6rem;
  }
  .step-info {
    font-size: 2rem;
  }
  .box-actions-info {
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
  }
  .participants-icon {
    width: 3rem;
    height: 3rem;
  }
  .participants-text {
    font-size: 2.2rem;
  }
}

/*
--- 01 TYPOGRAPHY SYSTEM

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    118 / 142 / 170 / 204 / 245

--- 07 WHITESPACE
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

    160 / 192 / 224 / 256 / 320 / 384 
448 512
*/
